<form [formGroup]="searchFormGroup" class="form-inline" (ngSubmit)="submitForm()">
<!-- <form class="form-inline"> -->
    <div class="row pt-md-0 pt-3">
        <div class="col-9 pl-0 pr-lg-2 pr-0">
            <div class="form-group">
                <input type="text" formControlName="query" class="form-control" placeholder="search...">
                <!-- <span *ngIf="searchFormGroup.get('query').touched && searchFormGroup.get('query').errors?.required && !searchFormGroup.get('query').valid" style="color:red">Field is Required</span> -->
            </div>
        </div>
        <div class="col-3 pl-0 pl-lg-2 pr-0">
            <button class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</form>